%h2
  = "We're sorry, #{@user.name}. Your request to join #{@workplace.name} has been rejected by a moderator."
%br
%p
  If you feel this rejection is in error, you will need to speak with your co-workers about this matter.