.col-md-12.text-center
  %h2
    = "Greetings! #{@user.name} has requested to join #{@workplace.name}."
  %br
  %p
    Please 
    %a{href: "www.trademe.io/sign_in"} sign-in
    to accept or deny this request.
