- if @user_workplaces.none?
  .col-md-12.text-center
    %h2 
      Hi there! Let's find your workplace.
      %br
      %br
      = render 'workplaces/search'

- if @user_workplaces.any?
  %p My Workplaces
  - @user_workplaces.each do |workplace|
    = link_to "#{workplace.name}", class: 'btn btn-primary btn-lg'
  %p My Trades